<html ng-app="CasierApp">
<head>
    <title>Casier</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @*<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc3/angular-material.min.css" rel="stylesheet" type="text/css" />
    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <link href="~/Content/CasierStyle.css" rel="stylesheet" />
    <link href="~/Content/angular-bootstrap-toggle.min.css" rel="stylesheet" />
</head>
<body ng-controller="CasierController">

    <script src="~/Scripts/jquery.signalR-2.2.3.js"></script>
    <script src="~/signalr/hubs"></script>
    <div class="container-fluid">
        <div id="writeTable" data-ng-init="init()" ng-show="ChangeView">
            @Html.Partial("writeTable")
        </div>
        <div id="writeMenu" ng-hide="ChangeView" data-ng-init="getCategory();">
            @Html.Partial("writeMenu")
        </div>
    </div>
    <div id="ImageKeeper" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>   
 
         
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc3/angular-material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>


    <script src="~/Scripts/Calender/calendar.js"></script>
    <script src="~/Scripts/Calender/fullcalendar.js"></script>
    @*<script src="~/Scripts/Calender/gcal.js"></script>
    <script src="~/Scripts/Calender/moment.js"></script>*@
    <script src="~/Scripts/CustomScript/DatePicker.js"></script>
    <script src="~/Scripts/CustomScript/CasierApp.js"></script>
    <script src="~/Scripts/ExternalScript/angular-bootstrap-toggle.min.js"></script>
</body>
</html>